In [ ]:
name=input("Digite seu nome:")

adress=input("Digite seu endere√ßo:")

import mysql.connector

host="localhost",

user="root",


password="",


database="db_python"


mycursor = mydb.cursor()

sql = "INSERT INTO clientes (name, address) VALUES (%s, %s)"

val = (name, adress)

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [ ]:
import mysql.connector

2

3

mydb = mysql.connector.connect(

4

5

6

7

8

)

9

host="localhost",

user= "root",

password="",

database="db_python"

10 mycursor = mydb.cursor()

11

12

13

14

15

16

query = "SELECT * FROM clientes"

mycursor.execute(query)

result = mycursor.fetchall()

for row in result:

nt (f"Cliente: {row}")