## Gravar dados

In [12]:
name=input("Digite seu nome:")
adress=input("Digite seu endereço:")

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="tp_produto"
)

mycursor = mydb.cursor()

sql = "INSERT INTO clientes (name, address) VALUES (%s, %s)"
val = (name, adress)
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

## lista de dados do Banco

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user= "root",
    password="",
    database="db_python"
)

mycursor = mydb.cursor()

query = "SELECT * FROM clientes"
mycursor.execute(query)
result = mycursor.fetchall()
for row in result:
    print (f"Cliente: {row}")

Cliente: ('Pedro', 'Campinas')
Cliente: ('John', 'Highway 21')
Cliente: ('Andre', 'Campinas')
Cliente: ('Oscar', 'Campinas')
Cliente: ('Maria', 'Marilia')
Cliente: ('Vinicius', 'Campinas')
Cliente: ('Sergio', 'São Paulo')

exercicio produto

In [ ]:
descricao = input("Digite seu nome do produto: ")
valor = input("Digite o valor do produto: ")
marca = input(" Digite a marca: ")
fornecedor = input("Digite o fornecedor: ")

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="db_exercicio"
)

mycursor = mydb.cursor()

sql = "INSERT INTO tp_produto (descricao, valor, marca, fornecedor ) VALUES (%s, %s,%s, %s)"
val = (descricao, valor, marca, fornecedor )
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user= "root",
    password="",
    database="db_exercicio"
)

mycursor = mydb.cursor()

query = "SELECT * FROM clientes"
mycursor.execute(query)
result = mycursor.fetchall()
for row in result:
    print (f"tb_produto: {row}")